* {
	margin: 0;
	padding: 0;
}

body {
	/*background: #222;*/
	font-family: "Myriad Pro"
	color: #fff;

}

a {
	color: antiquewhite;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
	a:hover,
	a.selected {
		color: gold;
	}

h1,h2,h4,h5,h6 {
	text-align: center;
	color: #ccc;
	text-shadow: #000 1px 1px 2px;
	margin-bottom: 5px;
}
	h1 {
		font-size: 18px;
	}
	h2 {
		font-size: 14px;
	}
.sociales {
	text-align: center;
	margin-bottom: 20px;
}

	#timeline {
		width: 1400px;
		height: 600px;
		overflow: hidden;
		margin: 40px 40px 40px 350px;  /* margin for timeline*/
		position: relative;
		background: url('../images/grey-dot.gif') 3px top repeat-y;
        font-size: 14px;
	}
		#dates {
			width: 150px; /*width of dates */
			height: 600px;
			overflow: hidden;
			float: left;
            font-size: 14px;
            font-family: "Droid Serif", serif;
		}
			#dates li {
				list-style: none;
				width: 100px;
				height: 100px;
				line-height: 100px;
				font-size: 24px;
				padding-left: 10px;
				background: url('../images/blackdot.png') left center no-repeat;
                font-size: 14px;
			}
				#dates a {
					line-height: 38px;
					padding-bottom: 10px;
				}
				#dates .selected {
			        font-size: 38px;
				}
		
		#issues {
			width: 1100px;
			height: 700px;
			overflow: hidden;
			float: left;
		}	
			#issues li {
				width: 1100px;
				height: 700px;
				list-style: none;
			}
				#issues li img {
					float: left;
					margin: 10px 30px 10px 150px;
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      


				}
				#issues li h1 {
					color: #ffcc00;
					font-size: 48px;
					text-align: center;
					text-shadow: #000 1px 1px 2px;
				}
				#issues li p {
					font-size: 14px;
					margin: 10px 10px;
					font-weight: normal;
					line-height: 26px;
                    font-family: Georgia;
                    width: 400px;
                    float: left;
                    color: antiquewhite;
				}
